  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post panel-wrapper">
            <h2>{{ .Title }}</h2>
          <!--<span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>-->
          {{ .Content }}
        </div>
        <div id="post-navigator">
          {{with .PrevPage }}<a id="post-navigator-prev" href="{{ .Permalink }}" title="上一篇"><< {{ .Title }}</a>{{ end }}
          {{with .NextPage }}<a id="post-navigator-next" href="{{ .Permalink }}" title="下一篇">{{ .Title }} >></a>{{ end }}
        </div>
        <div id="post-comments">
          <h3>Comments</h3>
          {{ partial "comments.html" . }}
        </div>
        {{ partial "footer.html" .}}
    </div>
    {{ partial "script.html" . }}
  </body>
</html>
