  {{ partial "head.html" . }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
            <h1>{{ .Title }}</h1>
          <!--<span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>-->
          {{ .Content }}
        </div>
        <div id="navigator" style="padding-top:20px;padding-bottom:15px;">
          {{with .Next }}<a style="float:left;color:#2479cc;text-decoration:none;" href="{{ .Permalink }}" title="上一篇"><< {{ .Title }}</a>{{ end }}
          {{with .Prev }}<a style="float:right;color:#2479cc;text-decoration:none;" href="{{ .Permalink }}" title="下一篇">{{ .Title }} >></a>{{ end }}
        </div>
        <div id="comments">
          <h3>Comments</h3>
          {{ partial "comments.html" . }}
        </div>
    </div>
  </body>
  {{ partial "script.html" . }}
</html>
